image: docker:latest
stages:
  - build
  - test

variables:

  DOCKER_DRIVER: overlay2

cache:
  untracked: true
  key: "$CI_BUILD_REF_NAME"
  paths:
    - node_modules/

Build&TEST:
  stage: build
  image: node:8.11-slim

  variables:
    DOCKER_DRIVER: overlay2
  retry: 2
  before_script:
    - apt update
    - apt install -y python make g++ git build-essential
    - npm install --save-dev -g pm2@2.7.1 nyc mocha npx
    - npm install eslint@^4.9.0 truffle-hdwallet-provider@0.0.3
    - export NODE_OPTIONS="--max_old_space_size=4096"
    - export PATH=$PATH:$(pwd)/node_modules/.bin
  script:
    - npm install
    - npm run testrpc > /dev/null &
    - sleep 5
    - npx truffle test
    - kill -9 $(ps aux | grep node | awk '{print$2}')
    #- kill -9 $(ps aux | grep testrpc | awk '{print$2}')
    - exit 0

  artifacts:
    paths:
      - node_modules/
    expire_in: "3 day"

